<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>A Multiple Path Story</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            text-align: center;
            min-width: 100px;
            min-height: 100px;
            word-wrap: normal;
        }
    </style>
    <div id="back-link"><a href="/back/0">Back to the start</a></div>
</head>

<body>

    <table>
        <tr>
            <th colspan="3">
                <div>
                    <p>Page: <%=pageIndex%></p>
                </div>
            </th>
        </tr>
        <tr>

            <td></td>

            <!-- TOP-->

            <td>
                <% if (stories[1] && stories[1]['sentence'].length >=1) { %>
                <div class="inner">
                    <a href="/story/<%=stories[1]['page']%>/1/<%=stories[1]['sentence']%>/<%=stories[1]['isClicked']%>">
                        <%= stories[1]['sentence'] %>
                    </a>
                </div>
                <div id="place-holder"></div>
                <% } else{ %>
                <form action="/story/1" method="post">
                    <textarea name="sentence"></textarea><br>
                    <input type="submit" value="Submit" />
                </form>
                <% } %>

            </td>

            <td></td>
        </tr>

        <!-- LEFT -->

        <tr>
            <td>
                <% if (stories[2] && stories[2]['sentence'].length >=1) { %>
                <div class="inner">
                    <a href="/story/<%=stories[2]['page']%>/2/<%=stories[2]['sentence']%>/<%=stories[2]['isClicked']%>">
                        <%= stories[2]['sentence'] %>
                    </a>
                </div>

                <div id="place-holder"></div>
                <% } else{ %>
                <form action="/story/2" method="post">
                    <textarea name="sentence"></textarea><br>
                    <input type="submit" value="Submit" />
                </form>
                <% } %>

                </div>
            </td>

            <!-- MIDDLE/MAIN -->

            <td>
                <div class="inner main-inner">
                    <p id="main_sent"> <%= stories[0]['sentence'] %></p>


                </div>
            </td>

            <!-- RIGHT -->

            <td>
                <% if (stories[3] && stories[3]['sentence'].length >=1) { %>
                <div class="inner">
                    <a href="/story/<%=stories[3]['page']%>/3/<%=stories[3]['sentence']%>/<%=stories[3]['isClicked']%>">
                        <%= stories[3]['sentence'] %>
                    </a>
                </div>

                <div id="place-holder"></div>
                <% } else{ %>
                <form action="/story/3" method="post">
                    <textarea name="sentence"></textarea><br>
                    <input type="submit" value="Submit" />
                </form>
                <% } %>
            </td>
        </tr>

        <tr>
            
            <td></td>

            <!-- BOTTOM -->

            <td>
                <% if (stories[4] && stories[4]['sentence'].length >=1) { %>
                <div class="inner">
                    <a href="/story/<%=stories[4]['page']%>/4/<%=stories[4]['sentence']%>/<%=stories[4]['isClicked']%>">
                        <%= stories[4]['sentence'] %>
                    </a>
                </div>

                <div id="place-holder"></div>
                <% } else{ %>
                <form action="/story/4" method="post">
                    <textarea name="sentence"></textarea><br>
                    <input type="submit" value="Submit" />
                </form>
                <% } %>
            </td>

            <td></td>
        </tr>
    </table>
    </div>











</body>

</html>